* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 50px auto;
    width: 900px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#header {
    background: #95D4D2;
    height: 12.5%;
    width: 100%;
    line-height: 75px;
}

#img_1 {
    background: #B2F593;
    width: 30%;
    height: 75%;
    line-height: 450px;
}

#img_2 {
    background: #FFF574;
    width: 40%;
    height: 75%;
    line-height: 450px;
}

#text {
    background: #F491DA;
    width: 30%;
    height: 75%;
    line-height: 450px;
}

#footer {
    background: #FFDF92;
    height: 12.5%;
    width: 100%;
    line-height: 75px;
}